<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tides Belgium.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D23DA4BB26BD57F73564A35D445305F068C4B200</string>
				<key>dateExpires</key>
				<string>06/08/2026</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T2TQFW24V8.ngc.TidesBE</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T2TQFW24V8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Tides Belgium.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c9f8350-0fae-4492-ac07-036ed90df8e1</string>
				<key>dateExpires</key>
				<string>06/08/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: ngc.TidesBE</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T2TQFW24V8</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
